@font-face {
  font-family: lemonMilk-medium;
  src: url("../assets/fonts/lemon_milk/LEMONMILK-Medium.otf"); }

@font-face {
  font-family: lemonMilk-light;
  src: url("../assets/fonts/lemon_milk/LEMONMILK-Light.otf"); }

@font-face {
  font-family: poppins-light;
  src: url("../assets/fonts/poppins/Poppins-Light.ttf"); }

body {
  background-color: #222222; }
  body h1 {
    color: #ff3d2d;
    font-family: lemonMilk-medium; }
  body h3 {
    color: #adf0d1;
    font-family: lemonMilk-light; }
  body p {
    color: #ffff33;
    font-family: poppins-light; }
