.carousel-control-prev-icon {
    background-image: url(./components/carouselportada/prev.png);
    width: 17px;
    height: 22px;
}

.carousel-control-next-icon {
    background-image: url(./components/carouselportada/next.png);
    width: 17px;
    height: 22px;
}



