#carousel {
    margin-top: 0px;
    position: relative;
    left: auto;
    padding: 0;

    
}

// .carousel-control-prev-icon {
//     background-image: url(./components/carouselportada/prev.png);
//     width: 20px;
//     height: 43px;
//     font-weight: 500;
//     font-family: $font-principal;
// }

