.eventos-container {
  h3 {
    margin-left: 69px;
    width: 500px;
    height: 38px;
    left: 80px;
    top: 388px;

    font-family: lemonMilk-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 69px;
    margin-top: 55px;
    li {
      list-style: none;
      font-family: poppins-light;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
      a {
        padding-right: 38px;
        color: $colorPrincipalNegro;
      }

      a:link,
      a:visited,
      a:hover,
      a:active {
        text-decoration: none;
      }

      a:target {
        border-bottom: 3px solid $colorPrincipalRojo;
      }
    }
  }

  .form-container {
    width: 100%;
    margin-top: 180px;
    padding: 80px 0px 80px 69px;
    background: #2222220d;
    display: flex;

    .info {
      position: relative;

      span {
        position: absolute;
        margin-top: 100px;
        width: 28px;
        height: 10px;

        top: -140px;
        background: $colorSecundarioAmarillo;
        transform: skew(-25deg);
      }
      h4 {
        width: 500px;
        height: 38px;
        left: 80px;
        top: 388px;
        font-family: lemonMilk-medium;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 38px;
      }
      p {
        width: 370px;
        height: 48px;
        left: 80px;
        top: 890px;
        color: $colorPrincipalRojo;
        font-family: lemonMilk-light;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        margin-top: 40px;
      }
    }
    .form {
      width: 25%;
      form {
        display: flex;
        flex-direction: column;

        margin: 0 auto;

        input {
          transform: skew(-25deg);
          padding-left: 15px;
          border: none;
          outline: none;
          height: 40px;
          margin: 4px 0;
          background: #2222221a;
        }
      }
      button {
        width: 240px;
        height: 50px;
        margin-top: 40px;
        transform: inherit;
        background: $colorPrincipalNegro;
        border-radius: 10px;
        color: $colorSecundarioBlanco;
        text-align: initial;
        padding-left: 15px;
        border: none;
        font-family: poppins-light;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
