@font-face {
	font-family: lemonMilk-medium;
	src: url("./fonts/lemon_milk/LEMONMILK-Medium.otf");
}

@font-face {
	font-family: lemonMilk-light;
	src: url("./fonts/lemon_milk/LEMONMILK-Light.otf");
}

@font-face {
	font-family: poppins-light;
	src: url("./fonts/poppins/Poppins-Light.ttf");
}


$font-principal: lemonMilk-medium;
$font-subtitulos: lemonMilk-light;
$font-textos: poppins-light;