#container-w {
    position: relative;
    opacity: 0.5;
}

#w {
    width: 882px;
    height: 665px;
    background: url(./components/paralelogramosgroup/w.png);
    background-repeat: no-repeat;
    margin-top: -695px;
    margin-left: 86px;
}