.navbar {
  border-radius: 0px;
}

#navbar {
  background-color: $colorPrincipalNegro;
  font-family: $font-subtitulos;
  height: 110px;
  margin-bottom: 0;
  width: 100%;

  #logo-navbar {
    margin: 30px 120px 25px 0%;
    padding: 0;
    width: 110px;
    height: 46px;
    left: 80px;
    top: 79px;
  }

  .brand {
    margin-right: 32%;

    // AGREGUE ESTO ---------------->
    display: flex;
    align-items: center;
  }

  #buscar {
    width: 14px;
    height: 14px;
    top: 8px;
    bottom: 16px;
    background-image: url(./components/navbar/lupa.png);
    margin: 0 0 0 0;
  }

  a {
    color: $colorSecundarioBlanco;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-orientation: initial;
  }

  .link {
    border: 3px solid $colorPrincipalNegro;
    padding: 4px 8px 4px 8px;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);

    .link-text {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      transform: skew(15deg);
    }
  }

  .link:focus {
    border: 3px solid $colorPrincipalRojo;
  }
}

#logo-responsive {
  display: none;
}

.navbar-light {
  .navbar-toggler {
    border-color: $colorPrincipalNegro;
  }

  .navbar-toggler-icon {
    background-image: url(./components/navbar/menu-responsive.png);
  }
}
@media only screen and (min-width: 450px){

#responsive-navbar-nav {
  display: flex;
}
}

@media only screen and (max-width: 1200px) {
  #logo-navbar {
    display: none;
  }

  #logo-responsive {
    display: flex;
    width: 47px;
    height: 42px;
    margin: 30px 120px 25px 0%;
  }

  #navbar {
    #buscar {
      display: none;
    }

    a {
      background-color: $colorPrincipalNegro;
    }
  }

  .link:focus {
    border: none;
  }

  .link {
    border: none;
    padding: 4px 8px 4px 8px;
    transform: skew(0);

    .link-text {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      transform: skew(0);
    }
  }
}
