#paralelogramo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nombre-dato {
  width: 138px;
  height: 61.63px;
  background-color: $colorPrincipalNegro;
  transform: skew(-25deg);
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;

  p {
    transform: skew(25deg);
    font-family: $font-subtitulos;
    color: $colorSecundarioBlanco;
    font-weight: 300;
    font-size: 11px;
    margin-bottom: 0px;
    margin-left: 18px;
  }
}

#dato {
  width: 110px;
  height: 49px;
  font-family: $font-principal;
  color: $colorPrincipalNegro;
  transform: skew(-25deg);
  position: relative;
  left: 70px;
  bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    transform: skew(25deg);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
  }
}



@media only screen and (max-width: 500px) {

  #nombre-dato {
    width: 120px;
    height: 42.4px;
  

  
    p {
      font-size: 7px;
      margin-bottom: 0px;
      margin-left: 18px;
    }
  }
  
  #dato {
    width: 97px;
    height: 33px;
    left: 58px;
    bottom: 14px;
 
  
    p {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }
}
