#paralelogramos-group {
  position: relative;
  margin-left: 18%;
  margin-right: 11%;
  margin-top: 10%;
  bottom: 310px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  #paralelogramos-group {
    margin-left: 5%;
  }
}


@media only screen and (max-width: 500px) {
  #paralelogramos-group {
    margin-left: 8%;
    margin-right: -15%;
    margin-top: 55px;
    bottom: 190px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    z-index: 1;
    width: 90%;
  }

  .elemento-paralelogramos-group {
    margin-right: 13%;
    padding-top: 15%;
    padding-left: 6%;
    width: 50%;
  }
}
