#container-rectangulo {
    position: relative;
    margin: 0;
}

#rectangulo-rojo {
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
    margin-top: -300px;
    padding: 0;
    height: 300px;
    background-color: $colorPrincipalRojo;
    opacity: 0.4;
}


@media only screen and (max-width: 500px) {


    #rectangulo-rojo {
        margin-top: -119px;
        height: 119px;

    }
}