#container-rectangulo {
    position: relative;
    margin: 0;
}

#rectangulo-rojo {
    position: absolute;
    width: 100%;
    margin-bottom: 0px;
    margin-top: -250px;
    padding: 0;
    height: 250px;
    background-color: $colorPrincipalRojo;
    opacity: 0.4;
}