#container-subtitulo {
    position: relative;
    display: block;
    margin-top: -500px;
    margin-left: 5%;

    .subtitulo {
        transform: skew(-20deg);
        background-color: rgba(red($colorPrincipalNegro),
                green($colorPrincipalNegro),
                blue($colorPrincipalNegro),
                0.4);



        p {
            font-family: $font-principal;
            color: $colorSecundarioBlanco;
            font-weight: 500;
            font-size: 48px;
            transform: skew(20deg);
            margin-bottom: 5px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
        }
    }

    #pasion {
        width: 40%;
    }

    #compromiso {
        width: 30%;
    }
}


@media only screen and (max-width: 1200px) {

    #container-subtitulo {
        .subtitulo {


            p {
                font-size: 40px;
            }
        }


    }
}


@media only screen and (max-width: 1200px) {

    #container-subtitulo {
        .subtitulo {


            p {
                font-size: 26px;
            }
        }


    }
}

@media only screen and (max-width: 500px) {


    #container-subtitulo {

        margin-top: -350px;
        margin-left: 5%;

        .subtitulo {


            p {
                font-size: 26px;
                margin-bottom: 5px;
                height: 45px;

            }
        }

        #pasion {
            width: 75%;
        }

        #compromiso {
            width: 50%;
        }
    }

}