@import "fonts";
@import "colors";
@import "navbarStyle";

#contact-bar {
    background-color: $colorPrincipalNegro;
    opacity: 0.95;
    font-family: $font-textos;
    height: 40px;
    padding-left: 60%;
    padding-top: 4px;
    padding-right: 5%;




    #facebook {
        width: 8.5px;
        height: 15px;
        margin-right: 8px;
        background-image: url(./components/contactbar/facebook.png);
    }

    #instagram {
        width: 14.93px;
        height: 14.93px;
        margin-right: 8px;
        background-image: url(./components/contactbar/instagram.png);

    }

    #whatsapp {
        width: 15px;
        height: 15.07px;
        margin-right: 8px;
        background-image: url(./components/contactbar/whatsapp.png);

    }

    #gmail {
            width: 21px;
            height: 15px;
            margin-right: 8px;
            background-image: url(./components/contactbar/gmail.png);
    
        }
    

    a {
        color: $colorSecundarioBlanco;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: center;

    }
}

// #navbar {
//     background-color: $colorPrincipalNegro;
//     font-family: $font-subtitulos;
//     height: 110px;

//     #logo-navbar {
//         margin: 30px 1100px 25px 5%;
//         padding: 0;
//         width: 110px;
//         height: 46px;
//         left: 80px;
//         top: 79px;
//         background-image: url(./components/navbar/logo-navbar.png);
//     }

//     #buscar {
//         width: 14px;
//         height: 14px;
//         top: 8px;
//         bottom: 16px;
//         background-image: url(./components/navbar/lupa.png);
//         margin-right: 5%;
//     }

//     a {
//         color: $colorSecundarioBlanco;
//         font-style: normal;
//         text-decoration: none;
//         font-weight: 300;
//         font-size: 14px;
//         line-height: 19px;

     
//     }

//     .link:focus {
//         border: 4px solid $colorPrincipalRojo;
//         -webkit-transform: skew(-20deg);
//         -moz-transform: skew(-20deg);
//         -ms-transform: skew(-20deg);
//         -o-transform: skew(-20deg);
//         transform: skew(-20deg);
        
//     }

// }