@font-face {
  font-family: lemonMilk-medium;
  src: url("./fonts/lemon_milk/LEMONMILK-Medium.otf"); }

@font-face {
  font-family: lemonMilk-light;
  src: url("./fonts/lemon_milk/LEMONMILK-Light.otf"); }

@font-face {
  font-family: poppins-light;
  src: url("./fonts/poppins/Poppins-Light.ttf"); }

#navbar {
  background-color: #222222;
  font-family: lemonMilk-light;
  height: 110px; }
  #navbar #logo-navbar {
    margin: 30px 1100px 25px 5%;
    padding: 0;
    width: 110px;
    height: 46px;
    left: 80px;
    top: 79px;
    background-image: url(./components/navbar/logo-navbar.png); }
  #navbar #buscar {
    width: 14px;
    height: 14px;
    top: 8px;
    bottom: 16px;
    background-image: url(./components/navbar/lupa.png);
    margin-right: 5%; }
  #navbar a {
    color: #f2f2f2;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-orientation: initial; }
  #navbar .link {
    border: 3px solid #222222; }
  #navbar .link:focus {
    border: 3px solid #ff3d2d;
    -webkit-transform: skew(-13deg);
    -moz-transform: skew(-13deg);
    -ms-transform: skew(-13deg);
    -o-transform: skew(-13deg);
    transform: skew(-13deg); }

#contact-bar {
  background-color: #222222;
  opacity: 0.95;
  font-family: poppins-light;
  height: 40px;
  padding-left: 60%;
  padding-top: 4px;
  padding-right: 5%; }
  #contact-bar #facebook {
    width: 8.5px;
    height: 15px;
    margin-right: 8px;
    background-image: url(./components/contactbar/facebook.png); }
  #contact-bar #instagram {
    width: 14.93px;
    height: 14.93px;
    margin-right: 8px;
    background-image: url(./components/contactbar/instagram.png); }
  #contact-bar #whatsapp {
    width: 15px;
    height: 15.07px;
    margin-right: 8px;
    background-image: url(./components/contactbar/whatsapp.png); }
  #contact-bar #gmail {
    width: 21px;
    height: 15px;
    margin-right: 8px;
    background-image: url(./components/contactbar/gmail.png); }
  #contact-bar a {
    color: #f2f2f2;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center; }

.footer-container {
  font-family: poppins-light;
  display: flex;
  width: 100%;
  height: 280px;
  background: #222222;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center; }
  .footer-container .description-container {
    width: 24%;
    margin-right: 10px; }
    .footer-container .description-container p {
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
      color: #f2f2f2;
      margin-top: 30px; }
  .footer-container .newsletter-container {
    width: 24%;
    display: flex;
    flex-direction: column;
    margin-left: 30px; }
    .footer-container .newsletter-container .title {
      font-family: lemonMilk-medium;
      font-weight: 500;
      font-size: 22px !important;
      line-height: 30px;
      color: #f2f2f2; }
    .footer-container .newsletter-container span {
      font-family: lemonMilk-light;
      color: #ff3d2d;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px; }
    .footer-container .newsletter-container input[type="email"] {
      height: 30px;
      width: 370px;
      left: 730px;
      top: 2960px;
      border-radius: 0px;
      background: #f2f2f2;
      opacity: 0.1;
      margin: 16px 0;
      transform: skew(-25deg);
      border: none;
      outline: none; }
      .footer-container .newsletter-container input[type="email"]:focus {
        opacity: 1; }
    .footer-container .newsletter-container button {
      width: 240px;
      height: 50px;
      left: 730px;
      top: 3010px;
      text-align: initial;
      background: #222222;
      border: 3px solid #adf0d1;
      border-radius: 10px;
      font-family: poppins-light;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #adf0d1;
      padding-left: 15px;
      transform: initial; }

.section-container {
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  padding-bottom: 80px; }
  .section-container .section-info {
    display: flex;
    flex-direction: column;
    margin-left: 69px; }
    .section-container .section-info .section-title {
      height: 65px;
      left: 79.8px;
      top: 207px;
      font-family: lemonMilk-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 65px; }
    .section-container .section-info .section-span {
      margin-top: 100px;
      width: 28px;
      height: 10px;
      left: 80px;
      top: 360px;
      background: #ffff33;
      transform: skew(-25deg); }

.info-container .info-title {
  margin-left: 69px;
  width: 500px;
  height: 38px;
  left: 80px;
  top: 388px;
  font-family: lemonMilk-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px; }

.info-container .info-preguntas {
  display: flex;
  justify-content: space-evenly;
  margin: 56px 55px; }
  .info-container .info-preguntas .card-pregunta {
    position: relative;
    width: 20%; }
    .info-container .info-preguntas .card-pregunta span {
      position: absolute;
      background-color: #adf0d133;
      font-family: lemonMilk-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      left: -27px;
      top: 10px;
      padding-left: 5px;
      color: #adf0d1; }
    .info-container .info-preguntas .card-pregunta h4 {
      background-color: #adf0d133;
      width: 240px;
      font-family: lemonMilk-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px; }
    .info-container .info-preguntas .card-pregunta p {
      width: 240px;
      height: 42px;
      left: 211px;
      top: 569px;
      margin-top: 50px;
      font-family: poppins-light;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px; }

.info-container .reglamento-container {
  margin: 160px 0 0 69px;
  position: relative;
  display: flex;
  flex-direction: column; }
  .info-container .reglamento-container select {
    margin-top: 33px;
    width: 18%;
    height: 50px;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid #ff3d2d;
    background-color: #e5e5e5;
    color: #ff3d2d; }
    .info-container .reglamento-container select:focus {
      outline: none; }
  .info-container .reglamento-container ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 69px;
    margin-top: 55px; }
    .info-container .reglamento-container ul li {
      list-style: none;
      font-family: poppins-light;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      cursor: pointer; }
      .info-container .reglamento-container ul li a {
        padding-right: 38px;
        color: #222222; }
      .info-container .reglamento-container ul li a:link,
      .info-container .reglamento-container ul li a:visited,
      .info-container .reglamento-container ul li a:hover,
      .info-container .reglamento-container ul li a:active {
        text-decoration: none; }
      .info-container .reglamento-container ul li a:target {
        border-bottom: 3px solid #ff3d2d; }
  .info-container .reglamento-container button {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 50px;
    border: none;
    margin: 66px 0; }
    .info-container .reglamento-container button a {
      font-family: poppins-light;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #f2f2f2;
      padding-right: 65px; }
  .info-container .reglamento-container span {
    position: absolute;
    margin-top: 100px;
    width: 28px;
    height: 10px;
    top: -140px;
    background: #ffff33;
    transform: skew(-25deg); }
  .info-container .reglamento-container h3 {
    width: 500px;
    height: 38px;
    left: 80px;
    top: 388px;
    font-family: lemonMilk-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px; }
  .info-container .reglamento-container p {
    width: 370px;
    height: 48px;
    left: 80px;
    top: 890px;
    color: #ff3d2d;
    font-family: lemonMilk-light;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px; }

.nosotros-container .nosotros-info {
  display: flex;
  flex-direction: row;
  margin-left: 69px; }
  .nosotros-container .nosotros-info h3 {
    width: 500px;
    height: 38px;
    left: 80px;
    top: 388px;
    font-family: lemonMilk-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px; }
  .nosotros-container .nosotros-info p {
    width: 500px;
    height: 240px;
    left: 600px;
    top: 401px;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 4.5)); } }

.nosotros-container .slider {
  margin-top: 85px;
  height: 220px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px; }
  .nosotros-container .slider::before, .nosotros-container .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .nosotros-container .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .nosotros-container .slider::before {
    left: 0;
    top: 0; }
  .nosotros-container .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 9); }
  .nosotros-container .slider .slide {
    height: 1000px;
    width: 250px;
    margin: 95px auto; }

.eventos-container h3 {
  margin-left: 69px;
  width: 500px;
  height: 38px;
  left: 80px;
  top: 388px;
  font-family: lemonMilk-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px; }

.eventos-container ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 69px;
  margin-top: 55px; }
  .eventos-container ul li {
    list-style: none;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer; }
    .eventos-container ul li a {
      padding-right: 38px;
      color: #222222; }
    .eventos-container ul li a:link,
    .eventos-container ul li a:visited,
    .eventos-container ul li a:hover,
    .eventos-container ul li a:active {
      text-decoration: none; }
    .eventos-container ul li a:target {
      border-bottom: 3px solid #ff3d2d; }

.eventos-container .form-container {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 180px;
  padding: 80px 0px 80px 69px;
  background: #2222220d;
  display: flex; }
  .eventos-container .form-container .info {
    position: relative; }
    .eventos-container .form-container .info span {
      position: absolute;
      margin-top: 100px;
      width: 28px;
      height: 10px;
      top: -140px;
      background: #ffff33;
      transform: skew(-25deg); }
    .eventos-container .form-container .info h4 {
      width: 500px;
      height: 38px;
      left: 80px;
      top: 388px;
      font-family: lemonMilk-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 38px; }
    .eventos-container .form-container .info p {
      width: 370px;
      height: 48px;
      left: 80px;
      top: 890px;
      color: #ff3d2d;
      font-family: lemonMilk-light;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      margin-top: 40px; }
  .eventos-container .form-container .form {
    width: 25%; }
    .eventos-container .form-container .form form {
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
      .eventos-container .form-container .form form input {
        transform: skew(-25deg);
        padding-left: 15px;
        border: none;
        outline: none;
        height: 40px;
        margin: 4px 0;
        background: #2222221a; }
    .eventos-container .form-container .form button {
      width: 240px;
      height: 50px;
      margin-top: 40px;
      transform: inherit;
      background: #222222;
      border-radius: 10px;
      color: #f2f2f2;
      text-align: initial;
      padding-left: 15px;
      border: none;
      font-family: poppins-light;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px; }
