@font-face {
  font-family: lemonMilk-medium;
  src: url("./fonts/lemon_milk/LEMONMILK-Medium.otf"); }

@font-face {
  font-family: lemonMilk-light;
  src: url("./fonts/lemon_milk/LEMONMILK-Light.otf"); }

@font-face {
  font-family: poppins-light;
  src: url("./fonts/poppins/Poppins-Light.ttf"); }

.section-container {
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  padding-bottom: 80px;
  width: 100%;
  margin: 150px auto;
  margin-bottom: 0px; }
  .section-container .section-info {
    display: flex;
    flex-direction: column;
    margin-left: 69px; }
    .section-container .section-info .section-title {
      height: 65px;
      left: 79.8px;
      top: 207px;
      font-family: lemonMilk-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 65px; }
    .section-container .section-info .section-span {
      margin-top: 100px;
      width: 28px;
      height: 10px;
      left: 80px;
      top: 360px;
      background: #ffff33;
      transform: skew(-25deg); }
    @media (max-width: 730px) {
      .section-container .section-info {
        margin-left: 26px; } }

.info-container .info-title {
  margin-left: 69px;
  width: 500px;
  height: 38px;
  font-family: lemonMilk-medium;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px; }
  @media (max-width: 730px) {
    .info-container .info-title {
      margin-left: 26px; } }

.info-container .info-preguntas {
  display: flex;
  justify-content: space-evenly;
  margin: 56px 55px; }
  .info-container .info-preguntas .card-pregunta {
    position: relative;
    width: 20%; }
    .info-container .info-preguntas .card-pregunta span {
      position: absolute;
      background-color: #adf0d133;
      font-family: lemonMilk-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      left: -27px;
      top: 10px;
      padding-left: 5px;
      color: #adf0d1; }
    .info-container .info-preguntas .card-pregunta h4 {
      background-color: #adf0d133;
      font-family: lemonMilk-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px; }
      @media (max-width: 993px) {
        .info-container .info-preguntas .card-pregunta h4 {
          width: 52%; } }
      @media (max-width: 730px) {
        .info-container .info-preguntas .card-pregunta h4 {
          width: 75%; } }
    .info-container .info-preguntas .card-pregunta p {
      width: 240px;
      height: 42px;
      margin-top: 50px;
      font-family: poppins-light;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px; }
      @media (max-width: 993px) {
        .info-container .info-preguntas .card-pregunta p {
          width: 90%;
          margin-top: 0; } }
      @media (max-width: 730px) {
        .info-container .info-preguntas .card-pregunta p {
          width: 84%; } }
    @media (max-width: 993px) {
      .info-container .info-preguntas .card-pregunta {
        width: 70%;
        margin-left: 240px; } }
    @media (max-width: 730px) {
      .info-container .info-preguntas .card-pregunta {
        margin: 20px 0px 0 170px; } }
  @media (max-width: 1200px) {
    .info-container .info-preguntas {
      margin: 56px 0px; } }
  @media (max-width: 993px) {
    .info-container .info-preguntas {
      flex-direction: column; } }

.info-container .reglamento-container {
  margin: 160px 0 0 69px;
  position: relative;
  display: flex;
  flex-direction: column; }
  .info-container .reglamento-container select {
    margin-top: 33px;
    width: 18%;
    height: 50px;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid #ff3d2d;
    background-color: #e5e5e5;
    color: #ff3d2d; }
    .info-container .reglamento-container select:focus {
      outline: none; }
  .info-container .reglamento-container button {
    background-color: black;
    border-radius: 10px;
    width: 240px;
    height: 50px;
    border: none;
    margin: 66px 0; }
    .info-container .reglamento-container button a {
      font-family: poppins-light;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #f2f2f2;
      padding-right: 65px; }
  .info-container .reglamento-container span {
    position: absolute;
    margin-top: 100px;
    width: 28px;
    height: 10px;
    top: -140px;
    background: #ffff33;
    transform: skew(-25deg); }
  .info-container .reglamento-container h3 {
    width: 500px;
    height: 38px;
    font-family: lemonMilk-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px; }
  .info-container .reglamento-container p {
    width: 370px;
    height: 48px;
    color: #ff3d2d;
    font-family: lemonMilk-light;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px; }
  @media (max-width: 730px) {
    .info-container .reglamento-container {
      margin-left: 26px; } }

.nosotros-container .nosotros-info {
  display: flex;
  flex-direction: row;
  margin-left: 69px;
  flex-wrap: wrap; }
  .nosotros-container .nosotros-info h3 {
    width: 500px;
    height: 38px;
    font-family: lemonMilk-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px; }
  .nosotros-container .nosotros-info p {
    width: 500px;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px; }
    @media (max-width: 730px) {
      .nosotros-container .nosotros-info p {
        margin-left: 145px;
        margin-right: 15px; } }
  @media (max-width: 730px) {
    .nosotros-container .nosotros-info {
      margin-left: 26px; } }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-220px * 4.5)); } }

.nosotros-container .slider {
  margin-top: 85px;
  height: 220px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%; }
  .nosotros-container .slider::before, .nosotros-container .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2; }
  .nosotros-container .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .nosotros-container .slider::before {
    left: 0;
    top: 0; }
  .nosotros-container .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(220px * 9); }
  .nosotros-container .slider .slide {
    width: 220px;
    margin: 95px 0px; }
    .nosotros-container .slider .slide img {
      width: 50%; }

.eventos-container {
  display: flex;
  flex-direction: column; }
  .eventos-container h3 {
    margin-left: 69px;
    width: 500px;
    height: 38px;
    left: 80px;
    top: 388px;
    font-family: lemonMilk-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px; }
    @media (max-width: 730px) {
      .eventos-container h3 {
        margin-left: 26px; } }
  .eventos-container select {
    margin-left: 69px;
    margin-top: 33px;
    width: 18%;
    height: 50px;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    border: none;
    border-bottom: 3px solid #ff3d2d;
    background-color: #e5e5e5;
    color: #ff3d2d; }
    .eventos-container select:focus {
      outline: none; }
    @media (max-width: 993px) {
      .eventos-container select {
        width: 25%; } }
    @media (max-width: 730px) {
      .eventos-container select {
        margin-left: 26px; } }
  .eventos-container .image-container {
    margin: 60px 69px 60px 69px; }
    .eventos-container .image-container .image-desktop.x8 {
      width: 60%; }
    .eventos-container .image-container .image-desktop.x16 {
      width: 85%; }
    .eventos-container .image-container .image-desktop.x32 {
      width: 100%; }
    @media (max-width: 993px) {
      .eventos-container .image-container .image-desktop {
        display: none; } }
    .eventos-container .image-container .image-mobile {
      display: none; }
      @media (max-width: 993px) {
        .eventos-container .image-container .image-mobile {
          display: block; } }
  .eventos-container ul {
    margin-left: 69px;
    list-style: none;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 3fr 3fr 3fr 3fr; }
    @media (max-width: 993px) {
      .eventos-container ul {
        grid-template-columns: 2fr 2fr; } }
    @media (max-width: 730px) {
      .eventos-container ul {
        margin-left: 0px; } }
    .eventos-container ul li {
      margin: 10px;
      align-items: center;
      display: flex; }
      .eventos-container ul li span {
        width: 34.29px;
        height: 34.29px;
        border-radius: 50%;
        background: #c4c4c4;
        display: inline-block;
        margin-right: 5px; }
  .eventos-container .form-container {
    flex-wrap: wrap;
    width: 100%;
    margin-top: 180px;
    padding: 80px 0px 80px 69px;
    background: #2222220d;
    display: flex; }
    .eventos-container .form-container .info {
      position: relative; }
      .eventos-container .form-container .info span {
        position: absolute;
        margin-top: 100px;
        width: 28px;
        height: 10px;
        top: -140px;
        background: #ffff33;
        transform: skew(-25deg); }
      .eventos-container .form-container .info h4 {
        width: 500px;
        height: 38px;
        left: 80px;
        top: 388px;
        font-family: lemonMilk-medium;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 38px; }
      .eventos-container .form-container .info p {
        width: 370px;
        height: 48px;
        left: 80px;
        top: 890px;
        color: #ff3d2d;
        font-family: lemonMilk-light;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        margin-top: 40px; }
    .eventos-container .form-container .form {
      margin: 20px 60px 0 0;
      width: 350px; }
      .eventos-container .form-container .form form {
        display: flex;
        flex-direction: column;
        margin: 0 auto; }
        .eventos-container .form-container .form form input {
          transform: skew(-25deg);
          padding-left: 15px;
          border: none;
          outline: none;
          height: 40px;
          margin: 4px 0;
          background: #2222221a; }
      .eventos-container .form-container .form button {
        width: 240px;
        height: 50px;
        margin-top: 40px;
        transform: inherit;
        background: #222222;
        border-radius: 10px;
        color: #f2f2f2;
        text-align: initial;
        padding-left: 15px;
        border: none;
        font-family: poppins-light;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px; }
        @media (max-width: 730px) {
          .eventos-container .form-container .form button {
            width: 200px; } }
      @media (max-width: 993px) {
        .eventos-container .form-container .form {
          margin-left: 220px;
          margin-right: 0;
          width: 43%; } }
    @media (max-width: 730px) {
      .eventos-container .form-container {
        padding-left: 26px; } }

.navbar {
  border-radius: 0px;
  width: 100%; }

#navbar {
  background-color: #222222;
  font-family: lemonMilk-light;
  height: 110px;
  padding: 0 20% 0 12%; }
  #navbar #logo-navbar {
    margin: 30px 120px 25px 0%;
    padding: 0;
    width: 110px;
    height: 46px;
    left: 80px;
    top: 79px; }
  #navbar .brand {
    margin-right: 29%;
    display: flex;
    align-items: center; }
  #navbar a {
    color: #f2f2f2;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-orientation: initial; }
  #navbar .link {
    border: 3px solid #222222;
    padding: 4px 8px 4px 8px;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg); }
    #navbar .link .link-text {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      transform: skew(15deg); }
  #navbar .link:focus {
    border: 3px solid #ff3d2d; }

#logo-responsive {
  display: none; }

.navbar-light .navbar-toggler {
  border-color: #222222; }

.navbar-light .navbar-toggler-icon {
  background-image: url(./components/navbar/menu-responsive.png); }

#responsive-navbar-nav {
  justify-content: center; }

#contact-bar {
  background-color: #222222;
  font-family: poppins-light;
  height: 40px;
  padding-left: 40%;
  padding-top: 4px;
  padding-right: 13%;
  width: 100%; }
  #contact-bar #facebook {
    width: 8.5px;
    height: 15px;
    margin-right: 8px;
    background-image: url(./components/contactbar/facebook.png); }
  #contact-bar #instagram {
    width: 14.93px;
    height: 14.93px;
    margin-right: 8px;
    background-image: url(./components/contactbar/instagram.png); }
  #contact-bar #whatsapp {
    width: 15px;
    height: 15.07px;
    margin-right: 8px;
    background-image: url(./components/contactbar/whatsapp.png); }
  #contact-bar #gmail {
    width: 21px;
    height: 15px;
    margin-right: 8px;
    background-image: url(./components/contactbar/gmail.png); }
  #contact-bar a {
    color: #f2f2f2;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: none; }

@media only screen and (max-width: 1244px) {
  #contact-bar {
    padding-left: 30%; } }

@media only screen and (max-width: 1199px) {
  #contact-bar {
    display: none; } }

.carousel-control-prev-icon {
  background-image: url(./components/carouselportada/prev.png);
  width: 17px;
  height: 22px; }

.carousel-control-next-icon {
  background-image: url(./components/carouselportada/next.png);
  width: 17px;
  height: 22px; }

#paralelogramo {
  display: flex;
  justify-content: center;
  align-items: center; }

#nombre-dato {
  width: 138px;
  height: 61.63px;
  background-color: #222222;
  transform: skew(-25deg);
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px; }
  #nombre-dato p {
    transform: skew(25deg);
    font-family: lemonMilk-light;
    color: #f2f2f2;
    font-weight: 300;
    font-size: 11px;
    margin-bottom: 0px;
    margin-left: 18px; }

#dato {
  width: 110px;
  height: 49px;
  font-family: lemonMilk-medium;
  color: #222222;
  transform: skew(-25deg);
  position: relative;
  left: 70px;
  bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #dato p {
    transform: skew(25deg);
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px; }

@media only screen and (max-width: 500px) {
  #nombre-dato {
    width: 120px;
    height: 42.4px; }
    #nombre-dato p {
      font-size: 7px;
      margin-bottom: 0px;
      margin-left: 18px; }
  #dato {
    width: 97px;
    height: 33px;
    left: 65px;
    bottom: 14px; }
    #dato p {
      font-size: 12px;
      margin-bottom: 0px; } }

#paralelogramos-group {
  position: relative;
  margin-left: 18%;
  margin-right: 11%;
  margin-top: 100px;
  bottom: 225px;
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 1200px) {
  #paralelogramos-group {
    margin-left: 5%; } }

@media only screen and (max-width: 500px) {
  #paralelogramos-group {
    margin-left: 8%;
    margin-right: -15%;
    margin-top: 55px;
    bottom: 190px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    z-index: 1;
    width: 90%; }
  .elemento-paralelogramos-group {
    margin-right: 13%;
    padding-top: 15%;
    padding-left: 6%;
    width: 50%; } }

#container-subtitulo {
  position: relative;
  display: block;
  margin-top: -500px;
  margin-left: 5%; }
  #container-subtitulo .subtitulo {
    transform: skew(-20deg);
    background-color: rgba(34, 34, 34, 0.4); }
    #container-subtitulo .subtitulo p {
      font-family: lemonMilk-medium;
      color: #f2f2f2;
      font-weight: 500;
      font-size: 48px;
      transform: skew(20deg);
      margin-bottom: 5px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1; }
  #container-subtitulo #pasion {
    width: 40%; }
  #container-subtitulo #compromiso {
    width: 30%; }

@media only screen and (max-width: 1200px) {
  #container-subtitulo .subtitulo p {
    font-size: 40px; } }

@media only screen and (max-width: 1200px) {
  #container-subtitulo .subtitulo p {
    font-size: 26px; } }

@media only screen and (max-width: 500px) {
  #container-subtitulo {
    margin-top: -350px;
    margin-left: 5%; }
    #container-subtitulo .subtitulo p {
      font-size: 26px;
      margin-bottom: 5px;
      height: 45px; }
    #container-subtitulo #pasion {
      width: 75%; }
    #container-subtitulo #compromiso {
      width: 50%; } }

#container-rectangulo {
  position: relative;
  margin: 0; }

#rectangulo-rojo {
  position: absolute;
  width: 100%;
  margin-bottom: 0px;
  margin-top: -250px;
  padding: 0;
  height: 250px;
  background-color: #ff3d2d;
  opacity: 0.4; }

@media only screen and (max-width: 500px) {
  #rectangulo-rojo {
    margin-top: -119px;
    height: 119px; } }

#container-w {
  position: relative;
  opacity: 0.5; }

#w {
  width: 882px;
  height: 665px;
  background: url(./components/logofondocarousel/w.png);
  background-repeat: no-repeat;
  margin-top: -695px;
  margin-left: 86px; }

@media only screen and (max-width: 500px) {
  #container-w {
    position: relative;
    opacity: 0.5;
    width: fit-content;
    height: fit-content; }
  #w {
    background: url(./components/logofondocarousel/w-responsive.png);
    background-repeat: no-repeat;
    width: 450px;
    height: 340px;
    margin-left: 12px;
    margin-top: -435px; } }

.footer-container {
  font-family: poppins-light;
  display: flex;
  height: 280px;
  background: #222222;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
  margin: 0 auto; }
  .footer-container .description-container {
    width: 24%;
    margin-right: 10px; }
    .footer-container .description-container p {
      font-weight: 300;
      font-size: 14px;
      line-height: 25px;
      color: #f2f2f2;
      margin-top: 30px; }
      @media (max-width: 993px) {
        .footer-container .description-container p span {
          display: none; } }
    .footer-container .description-container .year {
      color: #f2f2f2;
      font-size: 12px; }
    @media (max-width: 1200px) {
      .footer-container .description-container {
        width: 40%; } }
    @media (max-width: 993px) {
      .footer-container .description-container {
        width: 40%; } }
  .footer-container .newsletter-container {
    width: 24%;
    display: flex;
    flex-direction: column;
    margin-left: 30px; }
    .footer-container .newsletter-container .title {
      font-family: lemonMilk-medium;
      font-weight: 500;
      font-size: 22px !important;
      line-height: 30px;
      color: #f2f2f2; }
    .footer-container .newsletter-container span {
      font-family: lemonMilk-light;
      color: #ff3d2d;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px; }
    .footer-container .newsletter-container input[type="email"] {
      height: 30px;
      width: 100%;
      left: 730px;
      top: 2960px;
      border-radius: 0px;
      background: #f2f2f2;
      opacity: 0.1;
      margin: 16px 0;
      transform: skew(-25deg);
      border: none;
      outline: none; }
      .footer-container .newsletter-container input[type="email"]:focus {
        opacity: 1; }
    .footer-container .newsletter-container button {
      width: 75%;
      height: 50px;
      left: 730px;
      top: 3010px;
      text-align: initial;
      background: #222222;
      border: 3px solid #adf0d1;
      border-radius: 10px;
      font-family: poppins-light;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #adf0d1;
      padding-left: 15px;
      transform: initial; }
    @media (max-width: 1200px) {
      .footer-container .newsletter-container {
        width: 40%; } }

#home-container {
  margin-top: 0px;
  position: relative;
  width: 100%;
  padding: 0; }

.home {
  margin: 12.1% 0px 0px 0px;
  padding: 0px 22% 115px 8%;
  background-color: #E5E5E5; }
  .home .rectangulo-amarillo {
    width: 28px;
    height: 10px;
    background-color: #ffff33;
    transform: skew(-20deg);
    margin-bottom: 29px; }
  .home #col1 {
    padding-top: 80px; }
  .home #col2 {
    padding-top: 128px;
    padding-left: 75px; }
  .home h3 {
    font-family: lemonMilk-medium;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
    width: 500px; }
  .home h4 {
    font-family: lemonMilk-light;
    font-weight: 300;
    font-size: 18px;
    color: #ff3d2d;
    width: 340px; }
  .home p {
    font-family: poppins-light;
    font-weight: 500;
    font-size: 16px;
    width: 500px; }
  .home button {
    width: 240px;
    height: 50px;
    text-align: initial;
    background: #222222;
    border: 3px solid #f2f2f2;
    border-radius: 10px;
    font-family: poppins-light;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #f2f2f2;
    padding-left: 15px;
    margin-top: 32px; }

@media only screen and (max-width: 1200px) {
  .home {
    margin: 19% 0px 0px 0px; } }

@media only screen and (max-width: 500px) {
  #carousel-portada {
    display: none; }
  .home {
    margin: 21% 0px 0px 0px;
    padding: 0px 10% 115px 5%;
    width: 100%; }
    .home #col1 {
      padding-top: 15%; }
    .home #col2 {
      padding-top: 8%;
      padding-left: 20%; }
    .home h3 {
      font-size: 16px;
      width: 100%; }
    .home h4 {
      font-size: 12px;
      width: 70%px; }
    .home p {
      font-size: 12px;
      width: 100%; } }

.cobertura {
  background-color: rgba(255, 61, 45, 0.12);
  padding: 30px 12% 28px 8%;
  margin: 0;
  height: 440px; }
  .cobertura #medios {
    display: flex;
    justify-content: space-between; }
    .cobertura #medios .medios-cobertura-container {
      margin-top: 42px; }
      .cobertura #medios .medios-cobertura-container .iconos {
        height: 30px;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        width: 75%; }
      .cobertura #medios .medios-cobertura-container .texto-iconos {
        font-family: poppins-light;
        font-size: 16px;
        color: #222222;
        line-height: 24px;
        display: inline;
        font-weight: 500; }
      .cobertura #medios .medios-cobertura-container .titulo-iconos {
        font-weight: bolder;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 5px;
        width: 250px; }
      .cobertura #medios .medios-cobertura-container #antena {
        background-image: url(./components/homeSeccion3/antena.png); }
      .cobertura #medios .medios-cobertura-container #instagram {
        background-image: url(./components/homeSeccion3/instagram.png); }
      .cobertura #medios .medios-cobertura-container #tiktok {
        background-image: url(./components/homeSeccion3/tiktok.png); }
      .cobertura #medios .medios-cobertura-container #facebook {
        background-image: url(./components/homeSeccion3/facebook.png); }
      .cobertura #medios .medios-cobertura-container #twitch {
        background-image: url(./components/homeSeccion3/twitch.png); }

@media only screen and (max-width: 820px) {
  .cobertura #medios {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden; }
    .cobertura #medios .medios-cobertura-container {
      width: 50%; }
      .cobertura #medios .medios-cobertura-container .texto-iconos {
        font-size: 12px; }
      .cobertura #medios .medios-cobertura-container .titulo-iconos {
        font-size: 14px; } }

.seccion4 {
  padding: 118px 18% 134px 8%;
  margin: 0;
  height: 740px; }

.carousels4-img {
  border-radius: 10px; }

#col-carousel {
  padding-top: 50px; }

#direccion {
  font-size: 14px; }

.prev-icon {
  background-image: url(./components/homeSeccion4/prev.png);
  width: 12px;
  height: 17px;
  background-repeat: no-repeat; }

.next-icon {
  background-image: url(./components/homeSeccion4/next.png);
  width: 12px;
  height: 17px;
  background-repeat: no-repeat; }

.carousel-s4 {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 630px;
  height: 222px; }

@media only screen and (max-width: 500px) {
  .seccion4 {
    padding: 0px 0% 0px 8%;
    margin: 0;
    height: 100%;
    width: 100%; }
    .seccion4 #col-titulo {
      padding-top: 15%;
      width: 100%;
      height: 5%; }
    .seccion4 h3 {
      font-size: 16px;
      width: 100%; }
    .seccion4 h4 {
      font-size: 12px;
      width: 70%px; }
    .seccion4 #col-carousel {
      padding-top: 8%; }
      .seccion4 #col-carousel p {
        padding-left: 15%; }
      .seccion4 #col-carousel .carousel-s4 {
        width: 100%;
        height: 45%;
        margin: auto; }
      .seccion4 #col-carousel #direccion {
        padding-top: 3%;
        padding-left: 1%;
        font-size: 12px; } }

.titulo-responsive-nav {
  display: none;
  border: 3px solid #ff3d2d;
  padding: 4px 8px 4px 8px;
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg); }
  .titulo-responsive-nav .titulo-responsive-nav-text {
    color: #f2f2f2;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-orientation: initial;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    transform: skew(15deg); }

@media only screen and (max-width: 1200px) {
  .titulo-responsive-nav {
    display: flex; } }

@media only screen and (max-width: 1466px) {
  #navbar {
    padding: 0 12% 0 2%; } }

@media only screen and (max-width: 1200px) {
  #logo-navbar {
    display: none; }
  #logo-responsive {
    display: flex;
    width: 47px;
    height: 42px;
    margin: 30px 0% 25px 0%; }
  #navbar {
    padding-left: 10%;
    padding-right: 15%; }
    #navbar .brand {
      margin-right: 0%; }
    #navbar a {
      background-color: #222222; }
    #navbar .link:focus {
      border: none; }
    #navbar .nav-item {
      display: flex;
      justify-content: flex-end; }
    #navbar .link {
      width: 50%;
      height: 10vh;
      border: none;
      padding: 4px 8px 4px 8px;
      transform: skew(0); }
      #navbar .link .link-text {
        width: 100%;
        height: 10vh;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: skew(0); } }

.home-responsive-container {
  display: none; }

@media only screen and (max-width: 500px) {
  .home-responsive-container {
    margin: 12% 0px 0px 0px;
    display: flex;
    width: 100%;
    height: 814px; }
    .home-responsive-container img {
      width: 100%;
      object-fit: cover; } }

body {
  background-color: #f2f2f2; }
